# Hi :)

----

# Import libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn

# Creating Datasets

Hard data

In [5]:
Hard_data= pd.DataFrame({'Sample1': [0.3, 0.5, 0.1, 0.1],
              'Sample2': [0.4, 0.3, 0.1, 0.2],
              'Label': ['safe', 'low-risk', 'high-risk', 'dangerous']})

Hard_data

   Sample1  Sample2      Label
0      0.3      0.4       safe
1      0.5      0.3   low-risk
2      0.1      0.1  high-risk
3      0.1      0.2  dangerous

Soft Data

In [7]:
# [Belief, Disbelief, Uncertainty]
Soft_data= pd.DataFrame({'Expert_Number': [1, 2, 3, 4],
              'Sample1': [[0.3, 0.4, 0.3], [0.5, 0.3, 0.2], [0.6, 0.2, 0.2], [0.7, 0.2, 0.1]],
              'Sample2': [[0.2, 0.2, 0.6], [0.3, 0.4, 0.3], [0.6, 0.1, 0.3], [0.1, 0.2, 0.7]]})

Soft_data

   Expert_Number          Sample1          Sample2
0              1  [0.3, 0.4, 0.3]  [0.2, 0.2, 0.6]
1              2  [0.5, 0.3, 0.2]  [0.3, 0.4, 0.3]
2              3  [0.6, 0.2, 0.2]  [0.6, 0.1, 0.3]
3              4  [0.7, 0.2, 0.1]  [0.1, 0.2, 0.7]